# General Ignore Rules
.DS_Store
*.log
*.pem
#.env*


# Node.js front
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.next/
out/
build/
.vercel

# Python back
#venv/
#__pycache__/
#*.pyc
#*.pyo
#*.pyd


# Debugging files


