# General Ignore Rules
.DS_Store
*.log
*.pem

# Node.js front
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.next/
out/
build/
.vercel
.env*

# Environment variables
.env

# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Database files
*.db
*.sqlite

# Logs
*.log

# OS files
.DS_Store
